{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </div>
      <script
        src="https://utteranc.es/client.js"
        repo="jisun-choi/blog-comments"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async
      ></script>
    </div>
  </div>
</div>
{{ end }}
